certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.2.1
future==1.0.0
geocoder==1.38.1
geographiclib==2.1
geopy==2.4.1
idna==3.11
packaging==26.0
pillow==12.1.1
pyperclip==1.11.0
ratelim==0.1.6
requests==2.32.5
six==1.17.0
tkintermapview==1.29
urllib3==2.6.3
